body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color:#36247A;
}

.pass-div{

    background-color:#4A3D83 ;
    min-height: 400px;
    width: 90%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
  border: 2px solid rgba(285, 255, 255);
  border-radius: 20px;
  box-shadow: 2px 3px black;
  z-index: 1;

   
}


h1{
        
       
        text-align: center;
        color: white;
        padding-top: 50px;

      
}
span{
    color:rgb(212, 161, 21);
    text-decoration: underline;
}


h2{
    display: none;
}

.custom-head{
    padding-bottom: 40%;
    color: rgb(255, 255, 255);
    z-index: 10;
    padding-right: 50%;
    font-size: x-large;
}







/* ______________________________For Mobile Screen___________________________ */

@media  (    max-width: 480px){

    .pass-div{
       padding-bottom:50px ;
    }
h1{
display: none;
}
h2{
    display: block;
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size:xx-large;
}
    
}